body {
    background: url("../images//background.jpg");
    background-repeat: no-repeat;
  background-size: cover;
}

img {
    height: 100px;
    width: 100px;

}

div {
    box-sizing: border-box;
    border: 3px pink;
    margin: 5px;
    background: gray;
    width: 35%;
    font-family: 'Orbitron', sans-serif;
    color: white;
}